<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <ol>
      <% name.forEach((n, i) => { %>
      <li>
        <span> <%= n %> </span> says
        <a href="/details/<%= ids[i] %>">Expand message</a>
      </li>
      <% }) %>
    </ol>
  </body>
</html>
