<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Details</title>
  </head>
  <body>
    <h1>Message Details</h1>
    <div>
      <ul>
        <li>Message: <%= details.message %></li>
        <li>User: <%= details.name %></li>
        <li>Date created: <%= details.date_added %></li>
      </ul>
    </div>
  </body>
</html>
